@charset "UTF-8";

/***************************************/
/****** Global Configs *****************/
/***************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset css*/
*{          
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: min(1rem, 4vw);
}

h1 {
    font-size: min(2rem, 8vw);
}
h2{
    font-size: min(1.5rem, 6vw);
}

body {
    background-image: linear-gradient(
        125deg, 
        var(--regular-blue), 
        var(--dark-blue)
    );
    background-attachment: fixed;
}

:root {
    --contrast-color: #F1A208;
    --light-blue: #9FBBCC;
    --regular-blue: #7A9CC6;
    --dark-blue: #3E5C76;
    --font-title: Verdana, Geneva, Tahoma, sans-serif;
}

/*******************************************
************** Header Styles **************
*******************************************/
header {
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header h1, menu, .menu-element{
    text-align: center;
    display: inline;
    color: black;
    text-decoration: none;
}
header h1 {
    font-family: var(--font-title);
    letter-spacing: -2px;
}

header menu {
    display: flex;
    width: 50%;
    min-width: fit-content;
    justify-content: space-around;
}

header menu.mobile {
    /* display: none; */
    width: 100%;
    position: absolute;
    background-color: rgb(76, 76, 76);
    padding: 10px 20px;
}

header menu .menu-element {
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s ease;
}


header menu .menu-element:hover, .selected {
    font-weight: bold;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.842);
    background-color: black;
}


/*******************************************
************** Main Styles *****************
*******************************************/

main {
    
}